body { 
  background-color: #003270;
  font-family: 'Roboto', sans-serif; 
  color: white; 
}

h1 { font-size: 40px; }

a { color: white; }

.box { 
  max-height: 800px; 
  margin: 100px auto;
  padding: 30px; 
  padding-top: 0px; 
  overflow-y: scroll;
  width: 33%; 
}

.buttons { text-align: center; }

.stat { font-size: 30px; }
.bigger-text { font-size: 21px; }
.smaller-text { font-size: 20px; }
.smallest-text { font-size: 10px; }

.sticky { position: fixed;
  background: #00B6F0;
  padding-bottom: 5px;
  padding-left: 20px; }

#header { top: 0px; width: 100%; left: 0px; padding-top: 20px; height: 42px; }
#footer { bottom: 0px; right: 0px; padding: 20px; width: 15%; }

@media only screen and (max-width: 400px) {
  #footer { display: none; } /* Too messy for smartphones! */
}

#divvybrags-label { float; left; bottom: 40px; position: relative; font-size: 50px; }
#divvybrags-label h1 { font-size: 50px; }

.left-side-icons { margin-right: 35px; position: relative; bottom: 5px; float: right; }

.fa { font-size: 40px; margin-right: 5px; }

li { margin: 15px 0; }

#enjoy { margin-left: 10%; }
#sig {margin-left: 14%; }